# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Envs
venv/
.venv/

# OS / IDE
.DS_Store
.vscode/
.idea/
Thumbs.db

# Data / models
*.csv
models/
*.joblib
*.pkl

# Kaggle cache (optional)
.cache/

# Jupyter
.ipynb_checkpoints/



